<div class="row" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="cntr_alTxt buyer_h2">
        <h2>Buyer Plan<span>(Annual)</span></h2>
      </div>
      <div class="x_axis">
        <span class="hnd_bounce"><i class="fa fa-arrow-left">
            <img src="../../../../../../assets//icon/common/hand_arrow.png" class="hand_icn animated bounce" /></i>
        </span>
      </div>
      <div class="table_plan_cntr">
        <table width="100%">

          <thead>
            <tr>
              <th class="clr_f1">
                <h1 class="titl_t">Features</h1>
              </th>
              <th class="schol_clr s_0">fashion school <span>on request</span></th>
              <th class="schol_clr s_1">starter<span class="pric">700 €</span></th>
              <th class="schol_clr s_2">SELECT<span class="pric">1500 €</span></th>
              <th class="schol_clr s_3">DELUXE<span class="pric">2400 €</span></th>
              <th class="schol_clr s_4">ELITE<span class="pric">4500 €</span></th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td class="clr_gra">Number of users</td>
              <td>5</td>
              <td>Single</td>
              <td>Up to 9</td>
              <td>10 to 19</td>
              <td>20 +</td>
            </tr>

            <tr>
              <td class="num_t_lft">Admin dashboard</td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/wrong_red1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
            </tr>

            <tr>
              <td class="num_t_lft">Member login dashboard</td>
              <td><span><img src="../../../../../../assets//icon/common/wrong_red1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
            </tr>

            <tr>
              <td class="num_t_lft">Search history</td>
              <td><span><img src="../../../../../../assets//icon/common/wrong_red1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
            </tr>

            <tr>
              <td class="num_t_lft">Search history company-wide </td>
              <td><span><img src="../../../../../../assets//icon/common/wrong_red1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/wrong_red1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
            </tr>

            <tr>
              <td class="num_t_lft">Access to worldwide supplier database</td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
            </tr>

            <tr>
              <td class="num_t_lft">Post RFQs</td>
              <td><span><img src="../../../../../../assets//icon/common/wrong_red1.png"></span></td>
              <td><span>Unlimited </span></td>
              <td><span>Unlimited </span></td>
              <td><span>Unlimited </span></td>
              <td><span>Unlimited </span></td>
            </tr>

            <tr>
              <td class="num_t_lft">Post JOBS**</td>
              <td><span><img src="../../../../../../assets//icon/common/wrong_red1.png"></span></td>
              <td><span class="numbr">1</span></td>
              <td><span class="numbr">3</span></td>
              <td><span class="numbr">5</span></td>
              <td><span class="numbr">10</span></td>
            </tr>

            <tr>
              <td class="num_t_lft">Supplier blacklisting</td>
              <td><span><img src="../../../../../../assets//icon/common/wrong_red1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/wrong_red1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
            </tr>

            <tr>
              <td class="num_t_lft">Priority support by email and phone</td>
              <td><span><img src="../../../../../../assets//icon/common/wrong_red1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/wrong_red1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/wrong_red1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
              <td><span><img src="../../../../../../assets//icon/common/right_blue1.png"></span></td>
            </tr>

            <tr>
              <td class="num_t_lft">Online support</td>
              <td><span class="numbr">standard support by email</span></td>
              <td><span class="numbr">standard support by email</span></td>
              <td><span class="numbr">priority support by email or phone</span></td>
              <td><span class="numbr">priority support by phone</span></td>
              <td><span class="numbr">priority support by phone</span></td>
            </tr>

            <tr>
              <td class="num_t_lft"></td>
              <td><a class="animate-border" (click) = "changePlan('FASHION SCHOOL ON REQUEST')">SELECT</a></td>
              <td><a class="animate-border" (click) = "changePlan('STARTER')">SELECT</a></td>
              <td><a class="animate-border" (click) = "changePlan('SELECT')">SELECT</a></td>
              <td><a class="animate-border" (click) = "changePlan('DELUXE')">SELECT</a></td>
              <td><a class="animate-border" (click) = "changePlan('ELITE')">SELECT</a></td>
            </tr>

          </tbody>

        </table>
      </div>

      <div class="text_tbl">
        <p>* VAT may be applied in certain countries</p>
        <p>** For more job postings please contact us</p>
      </div>

    </div>
  </div>