<div class="card">
  <div class="card-header">
    <h5>Edit Plan:</h5>
  </div>
  <div class="card-block">
    <form [formGroup]="editPlanForm" (ngSubmit)="editPlan()">
      <div class="row">
        <label class="col-sm-4 col-lg-4 col-form-label">Name</label>
        <div class="col-sm-8 col-lg-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter plan name" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <label class="col-sm-4 col-lg-4 col-form-label">Type:</label>
        <div class="col-sm-8 col-lg-8">
          <select class="input-group" name="module" formControlName="duration">
            <option [ngValue]="null" disabled>Select One</option>
            <option *ngFor="let durnt of duration" [ngValue]="durnt">
              {{ durnt }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <label class="col-sm-4 col-lg-4 col-form-label">Price(In Euros)</label>
        <div class="col-sm-8 col-lg-8">
          <div class="input-group">
            <input type="number" class="form-control" placeholder="Enter cost" formControlName="price" min="0">
          </div>
        </div>
      </div>
      <div class="row">
        <label class="col-sm-4 col-lg-4 col-form-label">Description</label>
        <div class="col-sm-8 col-lg-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter description" formControlName="description" min="0">
          </div>
        </div>
      </div>

      <div class="row">
        <label class="col-sm-4 col-lg-4 col-form-label">Plan For</label>
        <div class="col-sm-8 col-lg-8">
          <angular2-multiselect [data]="role" [(ngModel)]="selectedRoles" [settings]="settings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            formControlName="rolesAllowed">
          </angular2-multiselect>
        </div>
      </div>
      <div class="row">
        <label class="col-sm-4 col-lg-4 col-form-label">Select Modules</label>
        <div class="col-sm-8 col-lg-8">
          <angular2-multiselect [data]="modulesToInclude" [(ngModel)]="selectedModules" [settings]="settings1"
            (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" formControlName="moduleIncluded">
          </angular2-multiselect>
        </div>
      </div>
      <div class="row">
        <label class="col-sm-4 col-lg-4 col-form-label">Status</label>
        <div class="col-sm-8 col-lg-8">
          <div class="input-group">
            <select class="input-group" name="status" formControlName="status">
              <option [ngValue]="null" disabled>Select One</option>
              <option *ngFor="let stat of statuss" [ngValue]="stat">
                {{ stat }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <label class="col-sm-4 col-lg-4 col-form-label">Features</label>
        <div class="col-sm-8 col-lg-8">
          <div formArrayName="features">
            <div *ngFor="let feature of editPlanForm.get('features')['controls']; let i = index">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Add feature..." [formControlName]="i">
              </div>
            </div>
          </div>
          <button class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="addNewFeature()" type="button"><i
              class="fa fa-plus"></i>Add Features</button>
        </div>
      </div> -->

      <div class="row" *ngIf = "selectedRoles">
        <label class="col-sm-4 col-lg-4 col-form-label">Feature Module</label>
        <div class="col-sm-8 col-lg-8">
          <select class="input-group" name="module" formControlName="features">
            <option [ngValue]="null" disabled>Select One</option>
            <option *ngFor="let feature of featureModules" [ngValue]="feature">
              {{ feature.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <button class="btn btn-primary btn-round" type="submit">Done</button>
        </div>
        <div class="col-sm-3 col-lg-3">
          <button class="btn btn-warning btn-round" type="button" (click)="closeModal()">Cancel</button>
        </div>
        <div class="col-sm-3 col-lg-3">
          <button class="btn btn-info btn-round" type="button" (click)="clearModal()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
