.product-contact {width:100%;border-top:1px solid #e9e9e9;padding:20px 0;overflow: hidden;padding:20px 0;}
.product-contact ul li {font-size:14px;color:#000;font-weight:500;float:left;}
.product-contact ul li:first-child {width:68%;margin:1px 0 0 5px}
.product-contact ul li:first-child span{padding:0 0 0 10px;}
.product-contact ul li:nth-child(2) {width:28%;}
.product-contact ul li:nth-child(2) img {display:block;width:25%;display:block;margin:0 0 0 50px;}
.product-contact ul li:nth-child(2) span{display:block;text-align:right;width:100%}