<div class="row" *ngIf="isWishlist; else loading">
  <div class="col-sm-12">
    <app-card [title]="'My Wishlist'" [classHeader]="true">
      <ng-container *ngIf = "isWishListAvailable; else emptyWishList">
        <app-my-wishlist-details 
        *ngFor = "let wishList of myWishlists; let i = index"
        [wishList] = "wishList"
        [index] = "i"></app-my-wishlist-details>
      </ng-container>
    </app-card>
  </div>
</div>

<ng-template #emptyWishList>
  <p>No Wishlist present...</p>
</ng-template>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
