<div class="container" *ngIf="product; else loading">
  <div class="back-nav">
    <a (click)="navigateBack()"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
    <span><img src="../../../assets/images/products/fast.png" />Fast fashion</span>
  </div>
</div>
<div class="container" *ngIf="product; else loading">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="product-detail">
        <a href="#" class="bc-icon"><img src="../../../assets/images/products/bc-icon.png" /></a>
        <div class="product-image">
          <img [src]="product.images[0] | sanatize " />
        </div>
        <span><img src="../../../assets/images/products/zoom.png" />View larger image</span>
        <ul class="product-view">
          <li *ngFor="let image of product.images"><img [src]="image | sanatize" /></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="about-product-container">
        <div class="about-product">
          <h5>{{ product.name}}</h5>
          <!-- <p>{{ product.company}}&nbsp; | &nbsp;4500 km &nbsp;<span> <img src="../../../assets/images/products/flag.png" /></span></p> -->
          <h6>
            <font>{{ product.price }}</font> / Piece&nbsp; | &nbsp;{{ minOrder }} Pieces (Min. Order)
          </h6>
        </div>
        <div class="product-custom">
          <div class="product-size">
            <label>Size:</label>
            <ul>
              <li>xs</li>
              <li>S</li>
              <li>M</li>
              <li>l</li>
              <li>XL</li>
              <li>2</li>
              <li>XL</li>
            </ul>
          </div>
          <div class="product-color">
            <label>Color:</label>
            <ul>
              <li style="background-color:#00ff66;"><a href="#"></a></li>
              <li style="background-color:#ff1210;"></li>
              <li style="background-color:#00a8ff;"></li>
              <li style="background-color:#fff710;"></li>
              <li style="background-color:#797979;"></li>
              <li style="background-color:#797979;"></li>
            </ul>
            <span>All 16 Options +</span>
          </div>
          <div class="customization">
            <label>Customization:</label>
            <ul>
              <li>Customized logo (Min. Order: 1000 Pieces)</li>
              <li>Customized packaging (Min. Order: 1000 Pieces)</li>
              <li><a href="#">More +</a></li>
            </ul>
          </div>
        </div>
        <div class="payment">
          <label>Payment</label>
          <ul>
            <li><a href="#"><img src="../../../assets/images/products/visa.png" /></a></li>
            <li><a href="#"><img src="../../../assets/images/products/master.png" /></a></li>
            <li><a href="#"><img src="../../../assets/images/products/tt.png" /></a></li>
            <li><a href="#"><img src="../../../assets/images/products/e-check.png" /></a></li>
            <li><a href="#"><img src="../../../assets/images/products/pay-later.png" /></a></li>
          </ul>
          <a href="#">More +</a>
          <button type="button"><img src="../../../assets/images/products/contact.png" /> Contact Supplier</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="product-container">
  <div class="container">
    <h3>You May Like</h3>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="section">
          <span><img src="../../../assets/images/products/bc-icon.png" /></span>
          <div class="product-image">
            <img src="../../../assets/images/products/shirt.png" />
          </div>
          <div class="product-price">
            <p>New design custom embroidery logo plain men blank 100% pique </p>
            <ul>
              <li>SynapseIndia</li>
              <li>US $9.00-$15.00 / Piece</li>
              <li>20 Pieces (Min. Order)</li>
            </ul>
          </div>
        </div>
        <div class="product-contact">
          <ul>
            <li><img src="../../../assets/images/products/contact.png" /><span>Contact Supplier</span></li>
            <li><img src="../../../assets/images/products/flag1.png" /><span>1500 km</span></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="section">
          <span><img src="../../../assets/images/products/bc-icon.png" /></span>
          <div class="product-image">
            <img src="../../../assets/images/products/custom-tshirt.png" />
          </div>
          <div class="product-price">
            <p>Wholesale clothes custom blank cheap solid color mens t shirt</p>
            <ul>
              <li>ABC Company</li>
              <li>US $4.50-$7.60 / Piece</li>
              <li>200 Pieces (Min. Order)</li>
            </ul>
          </div>
        </div>
        <div class="product-contact">
          <ul>
            <li><img src="../../../assets/images/products/contact.png" /><span>Contact Supplier</span></li>
            <li><img src="../../../assets/images/products/flag2.png" /><span>4500 km</span></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="section">
          <span><img src="../../../assets/images/products/bc-icon.png" /></span>
          <div class="product-image">
            <img src="../../../assets/images/products/sunset-tshirt.png" />
          </div>
          <div class="product-price">
            <p>China Manufacturer Customized Cotton Polyester Black Men's</p>
            <ul>
              <li>DEF Company</li>
              <li>US $9.00-$15.00 / Piece</li>
              <li>20 Pieces (Min. Order)</li>
            </ul>
          </div>
        </div>
        <div class="product-contact">
          <ul>
            <li><img src="../../../assets/images/products/contact.png" /><span>Contact Supplier</span></li>
            <li><img src="../../../assets/images/products/flag3.png" /><span>200 km</span></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="section">
          <span><img src="../../../assets/images/products/bc-icon.png" /></span>
          <div class="product-image">
            <img src="../../../assets/images/products/white-tshirt.png" />
          </div>
          <div class="product-price">
            <p>Wholesale clothes custom blank cheap solid color mens t shirt</p>
            <ul>
              <li>SynapseIndia</li>
              <li>US $9.00-$15.00 / Piece</li>
              <li>20 Pieces (Min. Order)</li>
            </ul>
          </div>
        </div>
        <div class="product-contact">
          <ul>
            <li><img src="../../../assets/images/products/contact.png" /><span>Contact Supplier</span></li>
            <li><img src="../../../assets/images/products/flag4.png" /><span>1500 km</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>