<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Coupon Management'" [classHeader]="true">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Search</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" (ngModelChange)="onSearchInputChange($event)" placeholder="Enter Coupon Code"
            [(ngModel)]="search_input">
        </div>
        <div class="col-sm-4">
          <button class="btn btn-primary btn-round" (click)="openFormModal()"><i class="fa fa-plus"></i>Create</button>
        </div>
      </div>
      <ngx-datatable #mydatatable class="material data-table" [headerHeight]="50" [limit]="10" [columnMode]="'force'"
        [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
        <ngx-datatable-column name="name">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn" let-sortDir="sortDir">
            <span (click)="sort($event, sortDir, sortFn)">
              Name
            </span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true" *ngIf="!editing[rowIndex + '-name']">
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="module">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn" let-sortDir="sortDir">
            <span (click)="sort($event, sortDir, sortFn)">
              Module Name
            </span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="noOfUsersAllowed">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn" let-sortDir="sortDir">
            <span (click)="sort($event, sortDir, sortFn)">
              Max. Users
            </span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="couponUrl">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn" let-sortDir="sortDir">
            <span (click)="sort($event, sortDir, sortFn)">
              URL
            </span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="description">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn" let-sortDir="sortDir">
            <span (click)="sort($event, sortDir, sortFn)">
              Description
            </span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="discount">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn" let-sortDir="sortDir">
            <span (click)="sort($event, sortDir, sortFn)">
              Discount(%)
            </span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{value}}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="expiresOn">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn" let-sortDir="sortDir">
            <span (click)="sort($event, sortDir, sortFn)">
              Expiry Date
            </span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true" *ngIf="!editing[rowIndex + '-name']">
              {{value | date }}
            </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="status">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn" let-sortDir="sortDir">
            <span (click)="sort($event, sortDir, sortFn)">
              Status
            </span>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true" *ngIf="!editing[rowIndex + '-name']">
              {{ value }}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" prop="id" [sortable]="false">
          <ng-template let-rowIndex="rowIndex" let-id="value" let-row="row" ngx-datatable-cell-template>
            <button class="btn btn-sm btn-info" (click)="openEditFormModal(row)">
              <i class="fa fa-edit"></i> Edit
            </button>
            <div *ngIf="row['status'] === 'Active' ; else activate">
              <button class="btn btn-sm btn-danger" (click)="openSuccessCancelSwal(row)">
                <i class="fa fa-trash"></i> Deactivate
              </button>
            </div>
            <ng-template #activate>
              <button class="btn btn-sm btn-primary" (click)="activateCouppon(row)">
                <i class="fa fa-lightbulb"></i> Activate
              </button>
            </ng-template>

          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </app-card>
  </div>
</div>
