button.btn.btn-primary.new-vat {
    padding-top: 5px;
    padding-bottom: 5px;
}
.search-icon-con i.fa.fa-search {
    position: absolute;
    right: 24px;
    top: 8px;
    font-size: 17px;
    color: #9e9d9d;
}