<div class="row">
  <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
    <h4>Select Country</h4>
    <div class="country">
      <!-- <li *ngFor="let country of countries" [routerLink]= "[country.id]", routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        {{ country.name }}
      </li> -->

      <li *ngFor="let country of countries" (click)= "selectCountry(country)"  [routerLink]="[country.id]" routerLinkActive="active" >
          {{ country.name }}
        </li>
    </div>
  </div>
  <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
    <router-outlet></router-outlet>
  </div>
</div>
