<div class="category-container">
  <div class="related-cat">
    <label>RELATED CATEGORY:</label>
    <ul>
      <li><a href="#">Men's T-Shirts</a></li>
      <li><a href="#">Men's Shirts</a></li>
      <li><a href="#">Plus Size Shirts & Blouses</a></li>
      <li><a href="#">Men's Hoodies & Sweatshirts</a></li>
    </ul>
  </div>
  <div class="shot-by">
    <ul>
      <li><span>Sort By:</span>
        <select>
          <option value="volvo">Best Match</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
      </li>
    </ul>
  </div>
</div>

<div class="filter-container">
  <label>FILTER RESULTS BY:</label>
  <ul>
    <li *ngFor = "let filter of productFilters">
      <select>
        <option [value] = "null">{{ filter.key }}</option>
        <option *ngFor = "let filValue of filter.key_value.buckets" [value] = "filValue.key">{{ filValue.key }}</option>
      </select>
    </li>
  </ul>
</div>

<div class="price-section">
  <div class="price-container">
    <div class="result">
      <p>3277551 results for "shirts"</p>
    </div>
    <div class="order">
      <ul>
        <li><img src="../../../assets/images/products/fast.png" /><label>Fast fashion</label></li>
        <li>
          <label>Price:</label>
          <input type="text" placeholder="min" /> -
          <input type="text" placeholder="max" />
        </li>
        <li>
          <label>Min Order:</label>
          <select>
            <option value="volvo">less then</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="product-section">
  <div class="product-container">
    <div class="product-section-row"  *ngFor="let product of productList">
      <div class="row-top" (click)="openProductDetails('123')">
        <div class="product-image">
          <img [src] =  "product._source.images[0] | sanatize " />
        </div>
        <div class="product-price">
          <p>{{product._source['name']}}</p>
          <ul>
            <li>{{ product._source['company'].name }}</li>
            <li>US ${{ product._source['price'] }} / Piece</li>
            <li>{{ product._source['minOrder'] }} Pieces (Min. Order)</li>
          </ul>
        </div>
      </div>
      <div class="product-contact">
        <ul>
          <li><img src="../../../assets/images/products/contact.png" /><span><a href="mailto:{{ product._source['company'].email}}">Contact Supplier</a></span></li>
          <li><img src="../../../assets/images/products/india-flag.png" /><span>1500 km</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="pagination-product">
  <div class="pages">
    <ul>
      <li><a href="#">back</a></li>
      <li><a class="active" href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">next</a> | <a href="#">last</a></li>
    </ul>
  </div>
</div>
