<div class="category-container">
  <label>RELATED CATEGORY:</label>
  <ul>
    <li><a href="#">Men's T-Shirts</a></li>
    <li><a href="#">Men's Shirts</a></li>
    <li><a href="#">Plus Size Shirts & Blouses</a></li>
    <li><a href="#">Men's Hoodies & Sweatshirts</a></li>
    <li><span>Sort By:</span><select>
        <option value="volvo">Best Match</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </li>
  </ul>
</div>

<div class="filter-container">
  <label>FILTER RESULTS BY:</label>
  <ul>
    <li><select>
        <option value="volvo">Supplier Types</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </li>
    <li><select>
        <option value="volvo">Supplier Location</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </li>
    <li><a href="#">Past Export Countries</a></li>

    <li><select>
        <option value="volvo">Color</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </li>
    <li><a href="#">Sample Order</a></li>
    <li><a href="#">Technics</a></li>
    <li><a href="#"> Technics </a></li>
    <li><select>
        <option value="volvo">Material</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </li>
  </ul>
</div>

<div class="price-section">
  <div class="price-container">
    <div class="result">
      <p>3277551 results for "shirts"</p>
    </div>
    <div class="order">
      <ul>
        <li><img src="../../assets/images/fast.png" /><label>Fast fashion</label></li>
        <li>
          <label>Price:</label>
          <input type="text" placeholder="min" /> -
          <input type="text" placeholder="max" />
        </li>
        <li>
          <label>Min Order:</label>
          <select>
            <option value="volvo">less then</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="product-section">
  <div class="product-container">
    <div class="product-section-row">
      <div class="row-top">
        <div class="product-image">
          <img src="../../assets/images/black-tshirt.png" />
        </div>
        <div class="product-price">
          <p>High Quality China Manufacturing Custom Fabric Black Owned</p>
          <ul>
            <li>SynapseIndia</li>
            <li>US $9.00-$15.00 / Piece</li>
            <li>20 Pieces (Min. Order)</li>
          </ul>
        </div>
      </div>
      <div class="product-contact">
        <ul>
          <li><img src="../../assets/images/contact.png" /><span>Contact Supplier</span></li>
          <li><img src="../../assets/images/india-flag.png" /><span>1500 km</span></li>
        </ul>
      </div>
    </div>
    <div class="product-section-row">
      <div class="row-top">
        <div class="product-image">
          <img src="../../assets/images/duaghter-tshirt.png" />
        </div>
        <div class="product-price">
          <p>Custom High Quality Cotton Men's </p>
          <ul>
            <li>ABC Company</li>
            <li>US $4.50-$7.60 / Piece</li>
            <li>200 Pieces (Min. Order)</li>
          </ul>
        </div>
      </div>
      <div class="product-contact">
        <ul>
          <li><img src="../../assets/images/contact.png" /><span>Contact Supplier</span></li>
          <li><img src="../../assets/images/flag2.png" /><span>1500 km</span></li>
        </ul>
      </div>
    </div>
    <div class="product-section-row">
      <div class="row-top">
        <div class="product-image">
          <img src="../../assets/images/blue-tshirt.png" />
        </div>
        <div class="product-price">
          <p>Wholesale clothes custom blank cheap solid color mens t shirt</p>
          <ul>
            <li>DEF Company</li>
            <li>US $9.00-$15.00 / Piece</li>
            <li>20 Pieces (Min. Order))</li>
          </ul>
        </div>
      </div>
      <div class="product-contact">
        <ul>
          <li><img src="../../assets/images/contact.png" /><span>Contact Supplier</span></li>
          <li><img src="../../assets/images/flag3.png" /><span>1500 km</span></li>
        </ul>
      </div>
    </div>
    <div class="product-section-row">
      <div class="row-top">
        <div class="product-image">
          <img src="../../assets/images/brown-tshirt.png" />
        </div>
        <div class="product-price">
          <p>Wholesale clothes custom blank cheap solid color mens t shirt</p>
          <ul>
            <li>ABC Company</li>
            <li>US $4.50-$7.60 / Piece</li>
            <li>200 Pieces (Min. Order)</li>
          </ul>
        </div>
      </div>
      <div class="product-contact">
        <ul>
          <li><img src="../../assets/images/contact.png" /><span>Contact Supplier</span></li>
          <li><img src="../../assets/images/flag4.png" /><span>1500 km</span></li>
        </ul>
      </div>
    </div>
    <div class="product-section-row">
      <div class="row-top">
        <div class="product-image">
          <img src="../../assets/images/black-tshirt.png" />
        </div>
        <div class="product-price">
          <p>High Quality China Manufacturing Custom Fabric Black Owned</p>
          <ul>
            <li>SynapseIndia</li>
            <li>US $9.00-$15.00 / Piece</li>
            <li>20 Pieces (Min. Order)</li>
          </ul>
        </div>
      </div>
      <div class="product-contact">
        <ul>
          <li><img src="../../assets/images/contact.png" /><span>Contact Supplier</span></li>
          <li><img src="../../assets/images/india-flag.png" /><span>1500 km</span></li>
        </ul>
      </div>
    </div>
    <div class="product-section-row">
      <div class="row-top">
        <div class="product-image">
          <img src="../../assets/images/duaghter-tshirt.png" />
        </div>
        <div class="product-price">
          <p>Custom High Quality Cotton Men's </p>
          <ul>
            <li>ABC Company</li>
            <li>US $4.50-$7.60 / Piece</li>
            <li>200 Pieces (Min. Order)</li>
          </ul>
        </div>
      </div>
      <div class="product-contact">
        <ul>
          <li><img src="../../assets/images/contact.png" /><span>Contact Supplier</span></li>
          <li><img src="../../assets/images/flag2.png" /><span>1500 km</span></li>
        </ul>
      </div>
    </div>
    <div class="product-section-row">
      <div class="row-top">
        <div class="product-image">
          <img src="../../assets/images/blue-tshirt.png" />
        </div>
        <div class="product-price">
          <p>Wholesale clothes custom blank cheap solid color mens t shirt</p>
          <ul>
            <li>DEF Company</li>
            <li>US $9.00-$15.00 / Piece</li>
            <li>20 Pieces (Min. Order))</li>
          </ul>
        </div>
      </div>
      <div class="product-contact">
        <ul>
          <li><img src="../../assets/images/contact.png" /><span>Contact Supplier</span></li>
          <li><img src="../../assets/images/flag3.png" /><span>1500 km</span></li>
        </ul>
      </div>
    </div>
    <div class="product-section-row">
      <div class="row-top">
        <div class="product-image">
          <img src="../../assets/images/brown-tshirt.png" />
        </div>
        <div class="product-price">
          <p>Wholesale clothes custom blank cheap solid color mens t shirt</p>
          <ul>
            <li>ABC Company</li>
            <li>US $4.50-$7.60 / Piece</li>
            <li>200 Pieces (Min. Order)</li>
          </ul>
        </div>
      </div>
      <div class="product-contact">
        <ul>
          <li><img src="../../assets/images/contact.png" /><span>Contact Supplier</span></li>
          <li><img src="../../assets/images/flag4.png" /><span>1500 km</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="pagination-product">
  <div class="pages">
    <ul>
      <li><a href="#">back</a></li>
      <li><a class="active" href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">next</a> | <a href="#">last</a></li>
    </ul>
  </div>
</div>