.wizard-steps.vertical {
    width: 70%;
}
.state-class {
    margin-left: 30px;
}
.margn-tp {
    margin-top: 20px;
}
.center-input {
    text-align: left;
    display: block;
    max-width: 350px;
    margin: 0 auto;
}
.center-input label {
    width: 120px;
    font-size: 13px;
}
.center-input input {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px 5px;
    margin-bottom: 15px;
}
