.ng-invalid.ng-touched {
    border: 1px solid red;
    display: block;
    width: 100%;
    text-align: left;
}

.signup-here{
    display: inline-flex;
    color: black;
    list-style: none;
}

a.signup-link {
    margin-left: 5px;
    color: green;
    margin-right: 5px;
}