<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material" 
          [formGroup] = "loginForm" 
          (ngSubmit) = "onSubmit()" 
          novalidate>
            <div class="text-center">
              <img src="assets/images/logo.png" alt="Gradient Able">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign In</h3>
                </div>
              </div>
              <hr/>
              <p class="text-inverse b-b-default text-left p-b-5">Sign in with your social account:</p>
                  <div class="row m-b-20">
                    <div class="col-md-6">
                      <button type="button" class="btn btn-linkedin m-b-20" (click) = "signInWithLinkedIn()"><i class="fa fa-linkedin"></i>Sign in with Linkedin</button>
                    </div>
                    
              </div>
              <div class="input-group">
                <input 
                type="email" 
                class="form-control" 
                placeholder="Email address"
                formControlName = "email">
                <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched" class="text-danger">
                  <span *ngIf = "loginForm.get('email').errors.required">E-mail is required!</span>
                  <span *ngIf = "loginForm.get('email').errors.email">Email must be a valid email address!</span>
              </div>
              </div>
              <div class="input-group">
                <input 
                type="password" 
                class="form-control" 
                placeholder="Password"
                formControlName = "password">
                <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="text-danger">
                  <span *ngIf = "loginForm.get('password').errors.required">Password is required!</span>
                  
              </div>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-12">
                  <div class="checkbox-fade fade-in-primary d-">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon fa fa-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                  <div class="forgot-phone text-right f-right">
                    <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> Forgot Password?</a>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                 <p class="signup-here">Don't have an account? 
                   <strong><li><a [routerLink]="['/auth/registration']" class="signup-link">Sign up</a></li></strong> here.</p>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button 
                  type="submit" 
                  class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                  [disabled] = "!loginForm.valid">Sign in</button>
                </div>
              </div>
              <hr/>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
