
<div class="search-history-wrapper">
  <div class="search-history-head">
    <div class="search-history-head-left">
      <i class="fa fa-history" aria-hidden="true"></i>
    </div>
    <div class="search-history-head-right">
      <a href="">History</a>
      <div class="search-form">
        <input type="text" [(ngModel)] = "searchTerm" (keyup) = "searchFunction($event)">
        <button (click) = "searchFromInput()">Search history</button>
      </div>
    </div>
  </div>
  <div class="search-listing">
    <div class="search-listing-left">
      <p>Today-Friday, August 29, 2018</p>
    </div>
    <div class="search-listing-right">
      <a href="">Delete history for this day</a>
    </div>
  </div>
  <div class="search-listing-container">
    <ul>
      <li *ngFor = "let history of visitHistory.visitedUrls">
        <span class="search-time">{{ history.visitedTime | date: 'hh:mm:ss a' }}</span>
        <a href="{{ history.url }}" target="_new">{{ history.url }}</a>
      </li>
    </ul>
  </div>
</div>